<div class="container">
  <div class="row mt-5">
<% @car.each do |car| %>
  <% if car.user_id == session[:user_id] %>
    <div class="card me-3 ms-3 mb-4" style="width: 18rem;background-color: #eee;">
      <%= image_tag car.image ,class:"card-img-top pt-2 img-fluid"%>
      <div class="card-body">
        <h5 class="card-title"> <%= car.brand.name %> <%= car.car_model.name %> </h5>
        <h6 class="card-title"> Reg no: <%= car.reg_no %></h6>
        <p class="card-text"> <%= car.variant %> <br> <%= car.kilometer_driven %> kms</p>
        <p class="card-text"> Price: <%= car.price.present? ? car.price : "yet to update" %> </p>
        <p class="card-text"> Condition: <%= car.condition.present? ? car.condition : "yet to update" %> </p>
        <p> Available at: <br> <%= car.branch.name %> <br> <%= car.branch.city.name %> </p>
        <div class="d-flex flex-column">
          <a type="button" class="btn btn-primary flex-fill mb-1" target="blank" data-mdb-ripple-color="dark" href="/view_car/<%= car.id %>">
            view
          </a>
          <% if car.selling_appointment_status.present? %>
            <button type="button" class="btn btn-danger flex-fill" disabled>Appointment booked</button>
          <% else %>
            <button type="button" class="btn btn-danger flex-fill myModalBtn" data-car-id="<%= car.id %>">Book appointment</button>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

  </div>
</div>

<%# Modal %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Request appointment for inspection</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="appointment-date">Appointment Date</label>
          <input type="date" class="form-control" id="appointment-date" name="appointment[date]">
        </div>
      </form>
      <p class="text-muted">your selected date may be changed according to business demand</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="form-submit-btn" required>Submit</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.myModalBtn').on('click', function() {
      $('#myModal').modal('show');
    });

    var modalBtns = document.querySelectorAll('.myModalBtn');
    var verifyBtn = document.getElementById('form-submit-btn');
    var carId;

    modalBtns.forEach(function(btn) {
      btn.addEventListener('click', function() {
        carId = btn.getAttribute('data-car-id');
        document.getElementById('myModal').classList.add('show');
        document.getElementById('myModal').style.display = 'block';

        console.log('Car ID:', carId);
      });
    });

    $('#form-submit-btn').on('click', function() {
      var dateSelect = document.getElementById('appointment-date');
      var appointmentDate = dateSelect.value;

      $.ajax({
        url: '/seller_dashboard/inspection_request',
        method: 'POST',
        data: {
          appointmentDate: appointmentDate,
          car_id: carId,
          authenticity_token: $('meta[name="csrf-token"]').attr('content')
        },
        success: function(response) {
          // Handle success response
           location.reload();
        },
        error: function(xhr, status, error) {
          // Handle error response
        }
      });
    });
  });
</script>
