<div class="container">
  <div class="row mt-5">
<% @car.each do |car| %>
  <% if car.user_id == session[:user_id] %>
    <div class="card me-3 ms-3 mb-4" style="width: 18rem;background-color: #eee;">
      <%= image_tag car.image ,class:"card-img-top pt-2 img-fluid"%>
      <div class="card-body">
        <h5 class="card-title"> <%= car.brand.name %> <%= car.car_model.name %> </h5>
        <h6 class="card-title"> Reg no: <%= car.reg_no %></h6>
        <p class="card-text"> <%= car.variant %> <br> <%= car.kilometer_driven %> kms</p>
        <p class="card-text"> Price: <%= car.price.present? ? car.price : "yet to update" %> </p>
        <p class="card-text"> Condition: <%= car.condition.present? ? car.condition : "yet to update" %> </p>
        <p> Available at: <br> <%= car.branch.name %> <br> <%= car.branch.city.name %> </p>
        <div class="d-flex flex-column">
          <a type="button" class="btn btn-primary flex-fill mb-1" target="blank" data-mdb-ripple-color="dark" href="/view_car/<%= car.id %>">
            view
          </a>
          <% if car.selling_appointment_status.present? %>
            <button type="button" class="btn btn-danger flex-fill" disabled>Appointment booked</button>
          <% else %>
            <button type="button" class="btn btn-danger flex-fill myModalBtn" data-car-id="<%= car.id %>">Book appointment</button>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

  </div>
</div>

<%# Modal %>
<%= render 'car/appointment_booking_modal'%>

<!-- JS -->
<%= javascript_pack_tag 'seller_dashboard', 'data-turbolinks-track': 'reload' %>
