<div class="container">
  <%= link_to "Back", find_nearest_branches_path %>
  <div class="row">
    <p class="h4 text-center mt-3 mb-3">Your search result for the nearest branch of: <span class="text-success"> <%=@place%> </span> </p>
    <% if @render_template == true %>
      <table class="table text-center">
        <thead>
          <tr class="table-active">
            <th>Sl. no</th>
            <th>Branch</th>
            <th>State</th>
            <th>City</th>
            <th>Distance (kilometers)</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @nearest_branches.zip(@nearest_distances).each do |branch, distance| %>
            <%@count=@count+1%>
            <tr>
              <td><%= @count %></td>
              <td><%= branch.name %></td>
              <%selectbranch = Branch.find_by(name:branch.name)%>
              <%city = City.find_by(id:selectbranch.city_id)%>
              <td><%= city.state %></td>
              <td><%= city.name %></td>
              <td><%= sprintf('%.2f', distance) %></td>
              <td> <a class="btn btn-primary" href="/branch_details/<%=selectbranch.id%>" target="blank">Details</a> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="h5 text-center text-danger">No nearest branches found.</p>
    <% end %>
  </div>
</div>
