<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.4;
        color: #333333;
      }

      h6 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      p {
        margin: 5px 0;
      }

      strong {
        font-weight: bold;
      }

      .car-details {
        margin-bottom: 20px;
      }

      .buyer-details {
        margin-bottom: 20px;
      }

      .branch-details {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <h6>Congratulations! Your Car Has Been Sold Successfully</h6>
    <p>Thank you for using Second Wheel to sell your car.</p>
    <p>Wait for further communication from your chosen branch regarding delivery.</p>

    <div class="car-details">
      <strong>Car details:</strong>
      <p><%= @car.brand.name %></p>
      <p><%= @car.car_model.name %></p>
      <p><%= @car.reg_no %></p>
    </div>

    <div class="buyer-details">
      <strong>Buyer's details:</strong>
      <p><%= @buyer.name %></p>
      <p><%= @buyer.email %></p>
      <p><%= @buyer.mobile_no %></p>
    </div>

    <div class="branch-details">
      <strong>Branch details:</strong>
      <p><%= @car.branch.name %></p>
      <p><%= @car.branch.address %></p>
      <p><%= @car.branch.map_link %></p>
    </div>
  </body>
</html>
