<div class="row">
  <div class="col-md-3 sidebar">
    <%= render 'dashboard/sidebar' %>
  </div>
  <div class="col-md-9 content">
    <div class="container">
      <div class="col-md-12 mb-3 mt-3">
        <%= form_with url: appointment_filter_path, method: :get, remote: true do %>
          <div class="row">
            <div class="col-md-2">
              <div class="form-inline">
                <label for="roleFilter" class="me-2">Filter by Role:</label>
                <%= select_tag 'role', options_for_select([['All', ''], ['Buyer', 'buyer'], ['Seller', 'seller']], params[:role]), class: 'form-select' %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-inline">
                <label for="statusFilter" class="ms-4 me-2">Filter by Status:</label>
                <%= select_tag 'status', options_for_select([['All', ''], ['Pending', 'pending'], ['Processing', 'processing'], ['Investigating', 'investigating'], ['Ready for Sell/Buy', 'ready'], ['Sold/Bought', 'sold'], ['Reject/Request Cancel', 'reject']], params[:status]), class: 'form-select' %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-inline">
                <label for="sortOption" class="ms-4 me-2">Sort by:</label>
                <%= select_tag 'sort_option', options_for_select([['Default', 'default'], ['Status (Ascending)', 'status-asc'], ['Status (Descending)', 'status-desc'], ['User Role (Ascending)', 'role-asc'], ['User Role (Descending)', 'role-desc'], ['Car Brand (Ascending)', 'car-brand-asc'], ['Car Brand (Descending)', 'car-brand-desc'], ['Car Model (Ascending)', 'car-model-asc'], ['Car Model (Descending)', 'car-model-desc'], ['Date Created (Newest First)', 'date-created-asc'], ['Date Created (Oldest First)', 'date-created-desc'], ['Appointment Date (Newest First)', 'appointment-date-asc'], ['Appointment Date (Oldest First)', 'appointment-date-desc']], params[:sort_option]), class: 'form-select' %>
              </div>
            </div>
            <div class="col-md-2 mt-4">
              <%= submit_tag 'Apply Filter and Sort', class: 'btn btn-primary' %>
            </div>
            <div class="col-md-2 mt-4">
              <% if @clear_filter%>
                <%= link_to "Clear Filter", appointments_verification_path, class: "ms-2 btn btn-danger"%>
              <%end%>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row mt-4">
        <%= render 'appointment/appointment_card_in_admin_dashboard' %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'appointment_in_admin_dashboard', 'data-turbolinks-track': 'reload' %>
