<%= form_with  url: filter_and_sort_general_user_appointment_path, method: :get, remote: true, id: 'filter-sort-form' do |form|%>
<div class="row g-2 d-flex justify-content-between">
  <div class="col-sm-4">
      <%= form.label 'statusFilter', 'Filter by Status:', class: 'ms-4 me-2' %>
      <%= form.select 'statusFilter', options_for_select(
                                       {
                                         'All' => '',
                                         'Pending' => 'pending',
                                         'Processing' => 'processing',
                                         'Investigating' => 'investigating',
                                         session[:role] == 'buyer' ? 'Ready to Buy' : 'Ready for Sell' => 'ready',
                                         session[:role] == 'buyer' ? 'Bought' : 'Sold' => 'sold',
                                         session[:role] == 'buyer' ? 'Buy Request Cancelled' : 'Reject' => 'reject'
                                       },params[:statusFilter]), {class: "form-select", id: 'statusFilter'}%>
  </div>

  <div class="col-sm-4">
      <%= form.label 'sortOption', 'Sort by:', class: 'ms-4 me-2' %>
      <%= form.select 'sortOption', options_for_select(
                                    {
                                      'Default' => 'default',
                                      'Status (Ascending)' => 'status-asc',
                                      'Status (Descending)' => 'status-desc',
                                      'Car Brand (Ascending)' => 'car-brand-asc',
                                      'Car Brand (Descending)' => 'car-brand-desc',
                                      'Car Model (Ascending)' => 'car-model-asc',
                                      'Car Model (Descending)' => 'car-model-desc',
                                      'Date Created (Newest First)' => 'date-created-asc',
                                      'Date Created (Oldest First)' => 'date-created-desc',
                                      'Appointment Date (Newest First)' => 'appointment-date-asc',
                                      'Appointment Date (Oldest First)' => 'appointment-date-desc'
                                    },params[:sortOption]), class: 'form-select', id: 'sortOption' %>
  </div>

  <div class="col-sm-4 d-flex justify-content-center">
    <%= form.submit 'Apply filter and sort', class: 'btn btn-primary' ,id: 'apply-fiter-button-g'%>
    <% if @clear_filter %>
      <%= link_to "Clear filter and Sort", appointments_path, class:"btn btn-danger ms-2"%>
    <%end%>
  </div>
</div>
<% end %>
