<div class="row">
  <div class="col-lg-3">
    <%= render 'dashboard/sidebar'%>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <div class="col-md-4 mt-3">
        <label class="mb-3 h6">List of already available Models</label>
        <div class="list-container" style="height: 500px; overflow-y: auto;">
          <div class="list-content">
            <ul class="list-group" id="model-list">
              <% @car.each do |car| %>
                <%brand_name = Brand.find_by(id:car.brand_id)%>
                <li class="list-group-item d-flex">
                  <div class="col-md-7">
                    <%= car.name %> ( <%= brand_name.name%> )
                  </div>
                  <div class="col-md-2">
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash ms-2 delete-car-model-btn" data-car-model-id="<%= car.id %>" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                    </svg></a>
                          <a href="#" class="ms-2 edit-car-model-btn" data-car-model-id="<%= car.id %>" data-car-model-name="<%= car.name%>" data-car-model-brand-id="<%=car.brand.id%>" data-car-model-brand-name="<%=car.brand.name%>" data-bs-toggle="modal" data-bs-target="#editCarModelModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-pen" viewBox="0 0 16 16">
                          <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                        </svg>
                      </a>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
<div class="col-md-4 mt-3 ms-5 ps-5">
  <div class="container">
    <form id="add-model-form">
      <div class="mb-3">
        <label for="brand-select" class="form-label">Select Brand:</label>
        <select id="brand-select" class="form-select">
          <option selected disabled>Choose a brand</option>
          <% @brand.each do |brand| %>
            <option class="brand-name-input" value="<%= brand.id %>"><%= brand.name %></option>
          <% end %>
        </select>
      </div>
      <div class="mb-3">
        <label for="model-input" class="form-label">Enter Car Model:</label>
        <input type="text" id="model-input" class="form-control" placeholder="Enter Car Model">
      </div>
      <button class="btn btn-primary" id="add-model-btn">Add Car Model</button>
    </form>
  </div>
</div>
    </div>
  </div>
</div>
<%= render partial: 'edit_car_model' %>
