<div class="row">
  <div class="col-lg-3">
    <%= render 'dashboard/sidebar'%>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <div class="col-md-5 mt-3">
           <%= render partial:"shared/branch"%>
      </div>
      <div class="col-md-4 mt-3 ms-5 ps-5">
        <div class="container">
          <form>
            <div class="mb-3">
              <label class="mb-3 h6">Add New Branch</label>
              <br>
              <label for="city-select" class="form-label">Select City:</label>
              <select id="city-select" class="form-select">
                <% @city.each do |city| %>
                  <option class="city-name-input" value="<%= city.id %>"><%= city.name %></option>
                <% end %>
              </select>
            </div>
            <div class="mb-3">
              <label for="branch-input" class="form-label">Enter Branch name:</label>
              <input type="text" id="branch-input" class="form-control required" placeholder="branch name">
            </div>
            <div class="mb-3">
              <label for="address-input" class="form-label">Enter Branch address:</label>
              <input type="text" id="address-input" class="form-control required" placeholder="mention locality, road, landmark, pin">
            </div>
            <div class="mb-3">
              <label for="maplink-input" class="form-label">Enter google map link:</label>
              <input type="text" id="maplink-input" class="form-control required" placeholder="map link">
            </div>
            <div class="mb-3">
              <label for="lat-input" class="form-label">Enter latitude of branch:</label>
              <input type="text" id="lat-input" class="form-control required" placeholder="latitude of branch ex: 2.3522219">
            </div>
            <div class="mb-3">
              <label for="long-input" class="form-label">Enter longitude of branch:</label>
              <input type="text" id="long-input" class="form-control required" placeholder="longitude of branch ex: 48.856614">
            </div>
            <button class="btn btn-primary" id="add-branch-btn">Add Branch</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'branch_index', 'data-turbolinks-track': 'reload' %>
