<%= render 'car_filter_and_search'%>
<%= link_to "back", cars_path%>
<div class="container">
  <div class="row mt-4">
    <%= render 'car'%>
  </div>
</div>

<%# Modal %>
<%= render 'appointment_booking_modal'%>
<%# js %>
<%= javascript_pack_tag 'car_index', 'data-turbolinks-track': 'reload' %>
