<%= form_for :filter_cars, url: search_cars_path, method: :get do |form| %>
  <div class="container-fluid mt-4 row">
    <div class="col-lg-3 mb-2">
      <%= form.collection_select :city, City.all, :name, :name, { prompt: "Select City" }, { class: "form-select", id: "city-select", onchange: "filterCars()" } %>
     </div>

    <div class="col-lg-3 mb-2">
      <%= form.collection_select :brand, Brand.all, :name, :name, { prompt: "Select Brand" }, { class: "form-select", id: "brand-select", onchange: "filterCars()" } %>
    </div>

    <div class="col-lg-3 mb-2">
      <%= form.collection_select :model, CarModel.all, :name, :name, { prompt: "Select Model" }, { class: "form-select", id: "model-select", onchange: "filterCars()" } %>
    </div>

    <div class="col-lg-3 mb-2">
      <%= form.select :reg_year, Car.reg_years.keys, { prompt: "Select Reg Year" }, { class: "form-select",id:"reg-year-select", onchange: "filterCars()" } %>
    </div>

    <div class="col-lg-3 mb-2">
      <%= form.select :variant, Car.variants.keys, { prompt: "Select Variant" }, { class: "form-select", id:'variant-select', onchange: "filterCars()" } %>
    </div>

    <div class="col-lg-3 mb-2">
      <%= form.select :reg_state, Car.reg_states.keys, { prompt: "Select Reg State" }, { class: "form-select", id:'reg-state-select', onchange: "filterCars()" } %>
    </div>

    <div class="col-lg-3">
      <%= form.select :kilometer_driven, Car.kilometer_drivens.keys, { prompt: "Select Kilometer Driven" }, { class: "form-select", id: 'kilometer-driven-select', onchange: "filterCars()" } %>
    </div>
<% end %>
    <div class="col-lg-3 col-md-6">
      <%= form_for :search_cars, url: search_cars_path, method: :get do |form| %>
        <%= form.text_field :query, value: params[:search_cars].presence && params[:search_cars][:query], class: "form-control rounded outline-primary", placeholder: "Search", autocomplete: "off", required: true %>
      <% end %>
    </div>
  </div>

<%= javascript_pack_tag 'car_filteration', 'data-turbolinks-track': 'reload' %>
