<!DOCTYPE html>
<html>
  <head>
    <title>Secondwheel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%# <%= javascript_include_tag 'https://js.api.here.com/v3/3.1/mapsjs-core.js' %>
    <%# <%= javascript_include_tag 'https://js.api.here.com/v3/3.1/mapsjs-service.js' %>
    <%# <%= javascript_include_tag 'https://js.api.here.com/v3/3.1/mapsjs-ui.js' %>
    <%# <%= javascript_include_tag 'https://js.api.here.com/v3/3.1/mapsjs-mapevents.js' %>
    <%# <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> %>

    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css"/>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      body {overflow-x: hidden;}
    </style>
  </head>
  <body class="d-flex flex-column min-vh-100 my-container">
    <% unless controller_name == 'sessions' && action_name == 'confirm' %>
    <%= render partial:"shared/nav"%>
    <% end%>
    <%=render partial:"shared/flash"%>
    <%= yield %>
    <footer class="footer bg-light py-3 mt-auto">
      <div class="container d-flex justify-content-center">
        <span> &copy; Copyright reserved to: Second Wheel | Developed by: Subhradip Barik | 2023</span>
      </div>
    </footer>
  </body>
</html>

<%= javascript_pack_tag 'show_brand', 'data-turbolinks-track': 'reload'%>
<%= javascript_pack_tag 'show_car_model', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'set_condition', 'data-turbolinks-track': 'reload' %>
